{% assign daycount = include.daycount %}
<table border="0">
<tr>
    <td>
        {% include tinytable.html option="circle" current=7 %}
        {% include tinytable.html option="circle" current=7 %}
        {% include tinytable.html option="circle" current=7 %}
    </td>
    <td>
        {% include tinytable.html option="circle-o" current=7 %}
        {% include tinytable.html option="circle-o" current=7 %}
        {% include tinytable.html option="circle-o" current=daycount%}
    </td>
    <td>
        {% include tinytable.html option="circle-o"%}
        {% include tinytable.html option="circle-o"%}
        {% include tinytable.html option="circle-o"%}
    </td>
    <td>
        {% include tinytable.html option="circle-o"%}
        {% include tinytable.html option="circle-o"%}
        {% include tinytable.html option="circle-o"%}
    </td>
    <td>
        {% include tinytable.html option="dot-circle-o" %}
    </td>
    <td>
        {% include tinytable.html option="circle"%}
        {% include tinytable.html option="circle"%}
        {% include tinytable.html option="circle"%}
    </td>
    <td>
        {% include tinytable.html option="circle-o"%}
        {% include tinytable.html option="circle-o"%}
        {% include tinytable.html option="circle-o"%}
    </td>
    <td>
        {% include tinytable.html option="circle-o"%}
        {% include tinytable.html option="circle-o"%}
        {% include tinytable.html option="circle-o"%}
    </td>
    <td>
        {% include tinytable.html option="circle-o"%}
        {% include tinytable.html option="circle-o"%}
        {% include tinytable.html option="circle-o"%}
    </td>
    <td>
        {% include tinytable.html option="dot-circle-o" %}
    </td>
</tr>
<tr>
    <td>
        {% include tinytable.html option="circle"%}
        {% include tinytable.html option="circle"%}
        {% include tinytable.html option="circle"%}
    </td>
    <td>
        {% include tinytable.html option="circle-o"%}
        {% include tinytable.html option="circle-o"%}
        {% include tinytable.html option="circle-o"%}
    </td>
    <td>
        {% include tinytable.html option="circle-o"%}
        {% include tinytable.html option="circle-o"%}
        {% include tinytable.html option="circle-o"%}
    </td>
    <td>
        {% include tinytable.html option="circle-o"%}
        {% include tinytable.html option="circle-o"%}
        {% include tinytable.html option="circle-o"%}
    </td>
    <td>
        {% include tinytable.html option="dot-circle-o" %}
    </td>
    <td>
        {% include tinytable.html option="circle"%}
        {% include tinytable.html option="circle"%}
        {% include tinytable.html option="circle"%}
    </td>
    <td>
        {% include tinytable.html option="circle-o"%}
        {% include tinytable.html option="circle-o"%}
        {% include tinytable.html option="circle-o"%}
    </td>
    <td>
        {% include tinytable.html option="circle-o"%}
        {% include tinytable.html option="circle-o"%}
        {% include tinytable.html option="circle-o"%}
    </td>
    <td>
        {% include tinytable.html option="circle-o"%}
        {% include tinytable.html option="circle-o"%}
        {% include tinytable.html option="circle-o"%}
    </td>
    <td>
        {% include tinytable.html option="dot-circle-o" %}
    </td>
</tr>
</table>