<span class="future quarterrow">
<span class="quarter">Q1
<i class="fa fa-angle-right"></i></span>
<span class="sprint">
<i class="fa fa-circle"></i>
<i class="fa fa-circle"></i>
<i class="fa fa-dot-circle-o"></i></span><span class="delimiter">&nbsp;</span>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i><span class="delimiter">&nbsp;</span>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i><span class="delimiter">&nbsp;</span>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i><span class="delimiter">&nbsp;</span>
<i class="fa fa-times-circle-o"></i>
</span>
<span class="future quarterrow">
Q2
<i class="fa fa-angle-right"></i>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i><span class="delimiter">&nbsp;</span>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i><span class="delimiter">&nbsp;</span>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i><span class="delimiter">&nbsp;</span>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i><span class="delimiter">&nbsp;</span>
<i class="fa fa-times-circle-o"></i>
</span>
<span class="future quarterrow">
Q3
<i class="fa fa-angle-right"></i>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i><span class="delimiter">&nbsp;</span>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i><span class="delimiter">&nbsp;</span>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i><span class="delimiter">&nbsp;</span>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i><span class="delimiter">&nbsp;</span>
<i class="fa fa-times-circle-o"></i>
</span>
<span class="future quarterrow">
Q4
<i class="fa fa-angle-right"></i> 
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i><span class="delimiter">&nbsp;</span>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i><span class="delimiter">&nbsp;</span>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i><span class="delimiter">&nbsp;</span>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i>
<i class="fa fa-circle-o"></i><span class="delimiter">&nbsp;</span>
<i class="fa fa-times-circle-o"></i>
</span>