{% if include.country == 'Реки' %}
{% assign travel = site.data.rivers | sort: 'date' | group_by:'country' %}
{% elsif include.country != null %}
{% assign travel = site.data.travel | where:'country', include.country | sort: include.sort | group_by:'country' %}
{% else %}
{% assign travel = site.data.travel | sort: include.sort | group_by:'country' %}
{% endif %}

{% for country in travel %}
   <h3>{{ country.name }}</h3>
   <ul>
   {% for place in country.items %}
   {% if place.date != null %}
   {% assign dates = place.date | sort %}
   {% else %}
   {% assign dates = null %}
   {% endif %}
   <li>{{ place.city }}{% if dates != null %}{% for date in dates) %}<span class="calm">, {{ date | date: '%b <b>%Y</b>' }}</span>{% endfor %}{% endif %}{% if place.description != null %}<br/><small>{{ place.description }}</small>{% endif %}</li>
   {% endfor %}
   </ul>
{% endfor %}