{% if include.activeonly == true %}
{% assign wishlist = site.data.wishlist | where:'active',true | sort: include.sort %}
{% else %}
{% assign wishlist = site.data.wishlist | sort: include.sort %}
{% endif %}

{% for wish in wishlist %}
{% if wish.link == null %}
{% assign uri = 'http://yandex.ru/yandsearch?text=' | append:wish.name %}
{% else %}
{% assign uri = wish.link %}
{% endif %}
   <h2><a href='{{ uri }}'>{{ wish.name }}</a>{% if wish.price != null %}<span class="calm">, от {{ wish.price }}&nbsp;₽</span>{% endif %}</h2>
   {% if wish.picture != null %}<p><img src="{{ wish.picture }}"/></p>{% endif %}
   {% if wish.description != null %}<p>{{ wish.description | markdownify }}</p>{% endif %}
{% endfor %}